@layer tailwind-base, aqua-custom-styles;
@layer tailwind-base {
  @tailwind base;
  @tailwind components;
}
@tailwind utilities;

@layer base {
  :root {
    --background: 255 248 243; /* #fff8f3 */

    --blue: 10 32 241; /* #0a20f1 */
    --creme: 255 248 243; /* #fff8f3 */

    /* components: */
    /* --c-default-1: #0a20f1;
    --c-default-2: #fff8f3; */

    --black: 0 0 0; /* #000000 */
    --white: 255 255 255; /* #ffffff; */

    --radius-5: 5px;
    --radius-15: 15px;
    --radius-20: 20px;

    /* BASE COLORS */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

@layer aqua-custom-styles {
  .default-input {
    @apply border-secondary border border-solid outline-0
          hover:border-tertiary
          focus:border-secondary focus:text-secondary
          bg-primary
          placeholder-white/35 text-secondary
          rounded-[15px] lg:rounded-[20px];
  }

  /* We rely on placeholder to change the border */
  /* once uncontrolled components not necessary have value property */
  .default-input:not(:placeholder-shown),
  .default-input:not([value='']):not([data-type='text-area']) {
    @apply border-secondary text-secondary;
  }

  .default-button {
    @apply aqua-buttons leading-[10px] lg:leading-[21.24px] min-w-fit w-full h-fit text-f-primary border-[.5px] rounded-[5px];
  }

  .default-primary {
    @apply bg-primary text-f-secondary border-secondary
          hover:text-f-primary
          hover:shadow-[inset_25rem_0_0_0] lg:hover:shadow-secondary duration-500 transition-[color,box-shadow];
    /* hover:shadow-[inset_16rem_0_0_0] */
  }

  .default-secondary {
    @apply bg-secondary text-f-primary border-primary z-0
        hover:text-f-secondary
        hover:shadow-[inset_25rem_0_0_0] hover:shadow-primary duration-500 transition-[color,box-shadow];
  }
  /* before:transition ease-linear duration-200; */
  /* duration-[400ms,700ms]  } */

  .default-tertiary {
    @apply bg-secondary text-f-primary border-tertiary;
  }

  .default-icon {
    @apply w-16 h-16 text-f-secondary;
  }

  /* .default-tab {
    @apply aqua-menu-default antialiased py-[5px] w-fit max-w-fit text-f-primary border-b-[1.5px] block;
  } */

  .default-tab {
    @apply aqua-menu-default text-[16px] lg:text-[25px] antialiased py-[5px] text-f-primary relative cursor-pointer;
  }

  .default-tab::after {
    @apply content-[''] h-[1.5px] w-0 bg-primary absolute left-0 bottom-0 transition-all duration-[550ms] pointer-events-none;
  }

  .default-tab:hover::after,
  .default-tab:active::after {
    @apply w-full;
  }

  .default-tab-active::after {
    /* @apply aqua-menu-active antialiased border-primary border-b-[1.5px]; */
    @apply content-[''] h-[1.5px] w-full bg-primary absolute left-0 bottom-0 pointer-events-none;
  }

  .default-nav a:is(:focus-visible, :hover),
  .default-nav ul:has(a:target:is(:focus-visible, :hover))::after {
    @apply text-f-secondary bg-primary outline-none z-[5];
  }

  .default-nav .active {
    @apply text-f-secondary bg-primary;
  }

  [data-no-anchor]
    .default-nav
    ul:has(li:nth-of-type(1) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-1-y);
    --item-active-x: var(--item-1-x);
    --item-active-width: var(--item-1-width);
    --item-active-height: var(--item-1-height);
  }
  [data-no-anchor]
    .default-nav
    ul:has(li:nth-of-type(2) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-2-y);
    --item-active-x: var(--item-2-x);
    --item-active-width: var(--item-2-width);
    --item-active-height: var(--item-2-height);
  }
  [data-no-anchor]
    .default-nav
    ul:has(li:nth-of-type(3) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-3-y);
    --item-active-x: var(--item-3-x);
    --item-active-width: var(--item-3-width);
    --item-active-height: var(--item-3-height);
  }
  [data-no-anchor]
    .default-nav
    ul:has(li:nth-of-type(4) a:is(:hover, :focus-visible)) {
    --item-active-y: var(--item-4-y);
    --item-active-x: var(--item-4-x);
    --item-active-width: var(--item-4-width);
    --item-active-height: var(--item-4-height);
  }

  [data-no-anchor] .default-nav ul:has(li:nth-of-type(1) a:target) {
    --target-y: var(--item-1-y);
    --target-x: var(--item-1-x);
    --target-width: var(--item-1-width);
    --target-height: var(--item-1-height);
  }
  [data-no-anchor] .default-nav ul:has(li:nth-of-type(2) a:target) {
    --target-y: var(--item-2-y);
    --target-x: var(--item-2-x);
    --target-width: var(--item-2-width);
    --target-height: var(--item-2-height);
  }
  [data-no-anchor] .default-nav ul:has(li:nth-of-type(3) a:target) {
    --target-y: var(--item-3-y);
    --target-x: var(--item-3-x);
    --target-width: var(--item-3-width);
    --target-height: var(--item-3-height);
  }
  [data-no-anchor] .default-nav ul:has(li:nth-of-type(4) a:target) {
    --target-y: var(--item-4-y);
    --target-x: var(--item-4-x);
    --target-width: var(--item-4-width);
    --target-height: var(--item-4-height);
  }

  .default-nav ul:has(a:is(:focus-visible, :hover)) {
    --intent: 1;
  }

  .default-nav ul::before,
  .default-nav ul::after {
    @apply content-[''] fixed pointer-events-none z-0 rounded-md bg-primary;

    --transition: 0.18s;
    top: calc(var(--item-active-y) * 1px);
    left: calc(var(--item-active-x) * 1px);
    height: calc(var(--item-active-height) * 1px);
    width: calc(var(--item-active-width) * 1px);
    opacity: var(--intent, 0);
    transition:
      all var(--transition),
      top var(--transition),
      left var(--transition),
      height var(--transition),
      opacity var(--transition),
      color var(--transition),
      width var(--transition);
    transition-timing-function: linear(
      0 0%,
      0.2342 12.49%,
      0.4374 24.99%,
      0.6093 37.49%,
      0.6835 43.74%,
      0.7499 49.99%,
      0.8086 56.25%,
      0.8593 62.5%,
      0.9023 68.75%,
      0.9375 75%,
      0.9648 81.25%,
      0.9844 87.5%,
      0.9961 93.75%,
      1 100%
    );
  }

  .default-nav ul::after {
    @apply opacity-100 bg-transparent rounded-none;

    top: calc(var(--target-y) * 1px);
    left: calc((var(--target-x) * 1px) + 1.25rem);
    height: calc(var(--target-height) * 1px);
    width: calc((var(--target-width) * 1px) - 2.5rem);
    view-transition-name: target;
    /* border-bottom: 2px solid green; */
  }

  /* Targeting */
  @supports (anchor-name: --a) {
    .default-nav {
      --anchor: var(--item-active);
    }

    .default-nav li:nth-of-type(1) {
      anchor-name: --item-1;
    }
    .default-nav li:nth-of-type(2) {
      anchor-name: --item-2;
    }
    .default-nav li:nth-of-type(3) {
      anchor-name: --item-3;
    }
    .default-nav li:nth-of-type(4) {
      anchor-name: --item-4;
    }

    .default-nav:has(li:nth-of-type(1) a:is(:hover, :focus-visible)) {
      --anchor: --item-1;
    }
    .default-nav:has(li:nth-of-type(2) a:is(:hover, :focus-visible)) {
      --anchor: --item-2;
    }
    .default-nav:has(li:nth-of-type(3) a:is(:hover, :focus-visible)) {
      --anchor: --item-3;
    }
    .default-nav:has(li:nth-of-type(4) a:is(:hover, :focus-visible)) {
      --anchor: --item-4;
    }

    .default-nav:has(li:nth-of-type(1) a:target) {
      --target: --item-1;
    }
    .default-nav:has(li:nth-of-type(2) a:target) {
      --target: --item-2;
    }
    .default-nav:has(li:nth-of-type(3) a:target) {
      --target: --item-3;
    }
    .default-nav:has(li:nth-of-type(4) a:target) {
      --target: --item-4;
    }

    .default-nav ul::before {
      left: anchor(var(--anchor) left);
      top: anchor(var(--anchor) top);
      width: anchor-size(var(--anchor) width);
      height: anchor-size(var(--anchor) height);
    }

    .default-nav ul::after {
      left: calc(anchor(var(--target) left) + 1.25rem);
      top: anchor(var(--target) top);
      width: calc(anchor-size(var(--target) width) - 2.5rem);
      height: anchor-size(var(--target) height);
    }
  }

  ::view-transition-group(target),
  ::view-transition-group(item) {
    mix-blend-mode: normal;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Gotham */
@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham-Font/Gotham-Black.otf');
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham-Font/Gotham-Bold.otf');
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham';
  src: url('../public/fonts/Gotham-Font/Gotham-Book.ttf');
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../public/fonts/Gotham-Font/Gotham-Light.otf');
  font-weight: 500;
  /* font-style: normal; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Avenir Next */
@font-face {
  font-family: 'AvenirNext';
  src: url('../public/fonts/Avenir-Next/AvenirNextCyr-Regular.ttf');
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../public/fonts/Avenir-Next/AvenirNextCyr-MediumItalic.ttf');
  font-weight: medium;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Degular Variable */
@font-face {
  font-family: 'DegularVariable';
  src: url('../public/fonts/Degular-Variable/DegularVariable.ttf');
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Soleil */
@font-face {
  font-family: 'Soleil';
  src: url('../public/fonts/Soleil/SoleilRegular.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Soleil';
  src: url('../public/fonts/Soleil/SoleilBold.otf');
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

@font-face {
  font-family: 'Soleil';
  src: url('../public/fonts/Soleil/SoleilLight.otf');
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

/* Allotrope */
@font-face {
  font-family: 'Allotrope';
  src: url('../public/fonts/Allotrope/Allotrope-bold.otf');
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}
